<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Bikestore</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"
    />
    <meta name="referrer" content="origin-when-cross-origin" />

    <script
      type="module"
      src="{{siteUrl}}/vue-assets/js/detailpage-BA_XWkz8.js"
    ></script>
    <link
      rel="stylesheet"
      href="{{siteUrl}}/vue-assets/css/style.css"
    />
     <link rel="icon" type="image/x-icon" href="{{siteUrl}}/vue-assets/assets/favicon.ico">
  </head>
  <body class="bg-primary-white"><div id="top"></div>


    {% include 'upper-navbar.twig' %}
    {% include 'navbar-hero.twig' %}
    {% set cart = craft.commerce.carts.cart %}
    {# {% include 'upper-navbar.twig' %} #} {# {% include 'navbar-hero.twig' %}
    #} {# Access URL segments to get the entry ID #} 
    {% set bikeId = craft.app.request.getParam('id') %} {# Retrieve the bike entry using the ID#} 
    {% set bike = craft.products.type('Bike').id(bikeId).one() %} 
    {% set category = craft.categories.group('submerk').slug(bike.typefiets).one()%} 
    {% set merk = craft.categories.group('merk').slug(bike.merk).one() %}
    {% set frametypeCategory = bike.frametype.one() %} 
    {% set typeFiets = bike.typefiets.one() %}
    {% set image = bike.productImage.one() %}                    
    {# {%set type = craft.categories.group('fietsen').slug(bike.frametype).one() %} #}
    {% set price = bike.productPrice|money %}
    {% if bike %} 
    {% set motorSlugs = bike.motor %}

    {# <h1>{{ type }}</h1> #}
    <div
      class="lg:h-824 flex lg:flex-row flex-col bg-nav-text-green lg:bg-white z-0 mb-20"
    >
      <div class="w-full lg:w-2/5 bg-nav-text-green lg:bg-primary-white">
        <div
          class="flex flex-col-reverse lg:flex-row justify-center lg:pt-0 lg:justify-start items-center lg:h-full"
        >
          <div
            class="flex flex-row gap-4 lg:gap-0 lg:flex-col justify-center lg:pl-10"
          >
            {% if bike.productColours|length %} {% for row in
            bike.productColours %} {% if row.hexcode is not empty %} {#
            #}
            <div
              class="h-5 w-20 lg:h-20 lg:w-5 mb-8 lg:mb-4 cursor-pointer lg:border-2 lg:border-nav-text-green"
              style="background-color: {{ row.hexcode }}"
            ></div>
            {% endif %} {% endfor %} {% else %}
            <p>No colors available for this bike.</p>
            {% endif %}
          </div>
          <div
            class="flex lg:absolute xl:left-80 lg:top-54p lg:transform lg:-translate-y-54p lg:px-0 px-4"
          >           
            <img
              class="w-full"
              src="{{ image.getUrl() }}" alt="{{ image.title }}"
              alt="Bikepicture"
            /> 
          </div>
        </div>
      </div>
      <div
        class="w-full flex lg:w-3/5 bg-nav-text-green justify-center items-center lg:py-20 py-0 text-primary-white"
      >
        <div
          class="w-full flex flex-col text-left lg:text-right items-left lg:items-end text-primary-white px-4 lg:px-6 my-10 lg:my-auto"
        >
          <div
            class="font-black text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-inter mb-8"
          >
            <p class="mb-2">{{ bike.title }}</p>
            <p class="text-3xl md:text-5xl font-semibold mb-4">
             {% if category %} 
            {{ category.title }}
            </p>
            {% else %}
            <p>Category not found.</p>
            {% endif %}
            <p class="text-4xl md:text-5xl font-normal">{{ price }}</p>
          </div>

          <div class="font-inter lg:w-1/2 text-left lg:text-right">
            <div class="mb-8">
              <p>{{ bike.title }}</p>
              {% if motorSlugs|length %} {%
              for motorSlug in motorSlugs %}
              <h1>{{ motorSlug }}</h1>
              {% endfor %} {% else %}
              <p>No motors assigned to this bike.</p>
              {% endif %} {% if bike.accu|length %} {% for row in bike.accu %}
              {% if row.wh is not empty %}
              <p>{{ row.wh }} accu</p>
              {% endif %} {% endfor %} {% else %}
              {# <p>No colors available for this bike.</p> #}
              {% endif %}
            </div>
          </div>
{% set targetProductId =  bike.id  %}
{% set targetProduct = craft.products().id(targetProductId).one() %}
<form method="post" action="checkout" class="z-10">
    {{ csrfInput() }}
    {{ actionInput('commerce/cart/update-cart') }}
    {% if targetProduct %}
        {% set variant = targetProduct.defaultVariant %}
        {{ hiddenInput('purchasables[0][id]', variant.id) }}
        {{ hiddenInput('purchasables[0][qty]', 1) }}
        <div class="flex flex-col">
        {% if bike.productColours|length %}
            <select name="purchasables[0][options][colors][]" class="bg-nav-text-green text-primary-white font-regular py-2 px-4 rounded-1px font-sofia border border-white mb-2">
                {% for color in bike.productColours %}
                    <option value="{{ color.colour }}">{{ color.colour }}</option>
                {% endfor %}
            </select>
        {% endif %}
        {% if bike.maat %}
            <select name="purchasables[0][options][maat][]" class="bg-nav-text-green text-primary-white font-regular py-2 px-4 rounded-1px font-sofia border border-white mb-2">
                {% for maat in bike.maat %}
                    <option value="{{ maat.label }}">{{ maat.label }}</option>
                {% endfor %}
            </select>
        {% endif %}
        {% if bike.productImage.one() %}
            {% set image = bike.productImage.one() %}
            {{ hiddenInput('purchasables[0][options][image][]', image.getUrl()) }}
        {% endif %}
        {% if merk %}
            {{ hiddenInput('purchasables[0][options][merk][]', merk) }}
        {% endif %}
    {% endif %}
    <button type="submit" class="bg-nav-text-green text-primary-white font-regular py-2 px-4 rounded-1px font-sofia border border-white transition-colors duration-400 delay-50 hover:bg-primary-white hover:text-nav-text-green">In winkelwagen</button>
    </div>
</form>



          {# <button
            class="bg-nav-text-green text-primary-white font-regular py-2 px-4 rounded-1px font-sofia border border-white transition-colors duration-400 delay-50 hover:bg-primary-white hover:text-nav-text-green"
          >
            In winkelwagen
          </button> #}
        </div>
      </div>
    </div>
    <div class="max-w-screen-xl mx-auto">
      <div
        class="lg:flex block items-center sm:mx-6 mb-20 lg:mb-40 mt-20 lg:mt-40"
      >
        <h1
          class="text-4xl mb-4 lg:mb-0 font-semibold text-nav-text-green w-1/3 font-sofia"
        >
          Even voorstellen...
        </h1>
        <p class="mb-8 text-p w-3/3 lg:w-2/3 font-inter">
          {{ bike.productDescription }}
        </p>
      </div>
    </div>

    <div class="mb-20 lg:mb-40 max-w-screen-xl mx-auto">
      <div class="block lg:flex gap-8 sm:mx-6 mx-0">
        <div class="w-5/5 lg:w-3/5 mb-6 sm:mb-0">
          <div class="mb-5">
            <h2 class="text-4xl font-semibold text-nav-text-green mb-4">
              Specificaties
            </h2>
            {# <h3 class="text-xl font-semibold text-nav-text-green">
              {{ bike.title }}
            </h3> #}
          </div>

          <div class="mt-8">
            <div class="flex columns-2">
              <div class="w-1/2 text-xl font-regular mb-2">Type fiets</div>
              <div class="w-1/2 text-xl font-regular mb-2">{{ typeFiets }}</div>
            </div>
            <div class="border border-unieke-services-green w-full"></div>
          </div>

          <div class="mt-8">
            <div class="flex columns-2">
              <div class="w-1/2 text-xl font-regular mb-2">Merk</div>
              <div class="w-1/2 text-xl font-regular mb-2">{{ merk }}</div>
            </div>
            <div class="border border-unieke-services-green w-full"></div>
          </div>

          <div class="mt-8">
            <div class="flex columns-2">
              <div class="w-1/2 text-xl font-regular mb-2">Serie</div>
              <div class="w-1/2 text-xl font-regular mb-2">{{ category }}</div>
            </div>
            <div class="border border-unieke-services-green w-full"></div>
          </div>
         <div class="mt-8">
            <div class="flex columns-2">
              <div class="w-1/2 text-xl font-regular mb-2">Type fiets</div>
              <div class="w-1/2 text-xl font-regular mb-2">{{ frametypeCategory }}</div>
            </div>
            <div class="border border-unieke-services-green w-full"></div>
          </div>
          <div class="mt-8">
            <div class="flex columns-2">
              <div class="w-1/2 text-xl font-regular mb-2">Motorsysteem</div>
              <div class="w-1/2 text-xl font-regular mb-2">{% if motorSlugs|length %} {%
              for motorSlug in motorSlugs %}
              <h1>{{ motorSlug }}</h1>
              {% endfor %} {% else %}
              <p>No motors assigned to this bike.</p>
              {% endif %} {% if bike.accu|length %} {% for row in bike.accu %}
              {% if row.wh is not empty %}
              <p>{{ row.wh }} accu</p>
              {% endif %} {% endfor %} {% else %}
              {# <p>No colors available for this bike.</p> #}
              {% endif %}</div>
            </div>
            <div class="border border-unieke-services-green w-full"></div>
          </div>
          <div class="mt-8">
            <div class="flex columns-2">
              <div class="w-1/2 text-xl font-regular mb-2">Motorpositie</div>
              <div class="w-1/2 text-xl font-regular mb-2">{{ bike.motorpositie }}</div>
            </div>
            <div class="border border-unieke-services-green w-full"></div>
          </div>
          <div class="mt-8">
            <div class="flex columns-2">
              <div class="w-1/2 text-xl font-regular mb-2">Aantal versnellingen</div>
              <div class="w-1/2 text-xl font-regular mb-2">{{ bike.versnellingen.label }}</div>
            </div>
            <div class="border border-unieke-services-green w-full"></div>
          </div>
          <div class="mt-8">
            <div class="flex columns-2">
              <div class="w-1/2 text-xl font-regular mb-2">Aantal versnellingen</div>
              <div class="w-1/2 text-xl font-regular mb-2">{{ bike.frameMateriaal.label }}</div>
            </div>
            <div class="border border-unieke-services-green w-full"></div>
          </div>
        </div>

        <div class="ml-0 lg:ml-8 w-5/5 lg:w-2/5 mt-12 lg:mt-0">
          <div class="mb-[50px]">
            <h2 class="text-4xl font-semibold text-nav-text-green mb-4">
              Maten
            </h2>
          </div>

          {% if bike.maat|length %} {% for row in bike.maat %}
          <div class="mt-8">
            <div class="flex columns-2">
              <div class="w-1/2 text-xl font-regular mb-2">{{ row.label }}</div>
              <div class="w-1/2 text-xl font-regular mb-2">{{ row.maat }}</div>
            </div>
            <div class="border border-unieke-services-green w-full"></div>
          </div>
          {% endfor %} {% else %}
          <p>No colors available for this bike.</p>
          {% endif %}
        </div>
      </div>
    </div>

    {# <div class="h-auto md:h-500 mb-20 lg:mb-40 max-w-screen-xl mx-auto">
      <div class="mx-6 lg:mx-0">
        <div class="">
          <h2
            class="text-4xl font-semibold text-nav-text-green mb-4 font-inter"
          >
            Reviews
          </h2>
          <div class="flex items-center mb-8">
            <h3
              class="mr-2 text-3xl font-regular text-nav-text-green font-inter"
            >
              3,9
            </h3>
            <img
              src="../assets/star-fill.svg"
              class="text-unieke-services-green"
              width="22"
              height="22"
              alt=""
            />
          </div>

          <div
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-4 md:gap-8"
          >
            <!-- Testimonial 1 -->
            <div class="mb-8">
              <div class="flex mb-4">
                <img
                  src="../assets/star-fill.svg"
                  class="text-unieke-services-green"
                  width="22"
                  height="22"
                  alt=""
                />
                <img
                  src="../assets/star-fill.svg"
                  class="text-unieke-services-green"
                  width="22"
                  height="22"
                  alt=""
                />
                <img
                  src="../assets/star-fill.svg"
                  class="text-unieke-services-green"
                  width="22"
                  height="22"
                  alt=""
                />
                <img
                  src="../assets/star-fill.svg"
                  class="text-unieke-services-green"
                  width="22"
                  height="22"
                  alt=""
                />
                <img
                  src="../assets/star-fill.svg"
                  class="text-unieke-services-green"
                  width="22"
                  height="22"
                  alt=""
                />
              </div>
              <h2
                class="text-4xl font-regular text-nav-text-green mb-4 font-sofia"
              >
                Maurits Pallaert
              </h2>
              <p class="text-p mb-2 font-inter">
                Ik ben verliefd op deze fiets.
              </p>
              <div class="flex gap-3">
                <img src="../assets/thumbsUp.svg" alt="" />
                <img src="../assets/thumbsDown.svg" alt="" />
              </div>
            </div>

            <!-- Testimonial 2 -->
            <div class="mb-8">
              <div class="flex mb-4">
                <img
                  src="../assets/star-fill.svg"
                  class="text-unieke-services-green"
                  width="22"
                  height="22"
                  alt=""
                />
                <img
                  src="../assets/star-fill.svg"
                  class="text-unieke-services-green"
                  width="22"
                  height="22"
                  alt=""
                />
                <img
                  src="../assets/star-fill.svg"
                  class="text-unieke-services-green"
                  width="22"
                  height="22"
                  alt=""
                />
                <img
                  src="../assets/star-fill.svg"
                  class="text-unieke-services-green"
                  width="22"
                  height="22"
                  alt=""
                />
                <img
                  src="../assets/star-fill.svg"
                  class="text-unieke-services-green"
                  width="22"
                  height="22"
                  alt=""
                />
              </div>
              <h2
                class="text-4xl font-regular text-nav-text-green mb-4 font-sofia"
              >
                Peter Vermeren
              </h2>
              <p class="text-p mb-2 font-inter">
                Kocht deze voor mijn zoon, <br />hij was allesinds heel content!
              </p>
              <div class="flex gap-3">
                <img src="../assets/thumbsUp.svg" alt="" />
                <img src="../assets/thumbsDown.svg" alt="" />
              </div>
            </div>

            <!-- Testimonial 3 -->
            <div class="mb-8">
              <div class="flex mb-4">
                <img
                  src="../assets/star-fill.svg"
                  class="text-unieke-services-green"
                  width="22"
                  height="22"
                  alt=""
                />
                <img
                  src="../assets/star-fill.svg"
                  class="text-unieke-services-green"
                  width="22"
                  height="22"
                  alt=""
                />
                <img
                  src="../assets/star-fill.svg"
                  class="text-unieke-services-green"
                  width="22"
                  height="22"
                  alt=""
                />
                <img
                  src="../assets/star-fill.svg"
                  class="text-unieke-services-green"
                  width="22"
                  height="22"
                  alt=""
                />
                <img
                  src="../assets/star-fill.svg"
                  class="text-unieke-services-green"
                  width="22"
                  height="22"
                  alt=""
                />
              </div>
              <h2
                class="text-4xl font-regular text-nav-text-green mb-4 font-sofia"
              >
                Jean Duchateau
              </h2>
              <p class="text-p mb-2 font-inter">Zeker geen miskoop!</p>
              <div class="flex gap-3">
                <img src="../assets/thumbsUp.svg" alt="" />
                <img src="../assets/thumbsDown.svg" alt="" />
              </div>
            </div>

            <!-- Testimonial 4 -->
            <div class="mb-8">
              <div class="flex mb-4">
                <img
                  src="../assets/star-fill.svg"
                  class="text-unieke-services-green"
                  width="22"
                  height="22"
                  alt=""
                />
                <img
                  src="../assets/star-fill.svg"
                  class="text-unieke-services-green"
                  width="22"
                  height="22"
                  alt=""
                />
                <img
                  src="../assets/star-fill.svg"
                  class="text-unieke-services-green"
                  width="22"
                  height="22"
                  alt=""
                />
                <img
                  src="../assets/star-fill.svg"
                  class="text-unieke-services-green"
                  width="22"
                  height="22"
                  alt=""
                />
                <img
                  src="../assets/star-fill.svg"
                  class="text-unieke-services-green"
                  width="22"
                  height="22"
                  alt=""
                />
              </div>
              <h2
                class="text-4xl font-regular text-nav-text-green mb-4 font-sofia"
              >
                Pascale Delanote
              </h2>
              <p class="text-p mb-2 font-inter">
                Zeer mooie fiets, na 1 jaar nog <br />steeds zo gloed als nieuw!
              </p>
              <div class="flex gap-3">
                <img src="../assets/thumbsUp.svg" alt="" />
                <img src="../assets/thumbsDown.svg" alt="" />
              </div>
            </div>

            <!-- Add more testimonials here as needed -->
          </div>
        </div>
      </div>
      <div class="flex justify-center mt-10 mb-20 lg:mb-40">
        <button
          class="bg-nav-text-green text-primary-white font-regular py-2 px-4 rounded-1px font-inter transition-colors duration-400 delay-50 hover:bg-secondary-green hover:text-primary-white"
        >
          Meer reviews
        </button>
      </div>
    </div> #}
    <!--Plus en minpunten-->
    <section class="max-w-screen-xl mx-auto">
  <h2 class="text-4xl font-regular text-nav-text-green mb-4 mx-8 lg:mx-0 font-sofia">
    Plus en minpunten
  </h2>
  <div class="mb-20 lg:mb-40 block lg:flex gap-12">
    <div class="w-6/6 lg:w-3/6 sm:mx-6 lg:mx-0">
      {% if bike.plusPunten|length %} 
        {% for row in bike.plusPunten %}
          <div class="mb-8 mt-8">
            <div class="flex items-center columns-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="bi bi-plus w-8 mr-2 text-unieke-services-green font-regular mb-3"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
                />
              </svg>
              <div class="text-xl font-regular mb-3 font-inter">
                {{ row.pluspunten }}
              </div>
            </div>
            <div class="border border-nav-text-green w-fully"></div>
          </div>
        {% endfor %} 
      {% else %}
        <p>Geen pluspunten aanwezig</p>
      {% endif %}
    </div>

    <div class="w-6/6 lg:w-3/6 sm:mx-6 lg:mx-0 ">
      {% if bike.minPunten|length %} 
        {% for row in bike.minPunten %}
          <div class="flex items-center columns-2 mt-10">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="bi bi-dash text-red-600 w-7 mr-4 mb-2"
              viewBox="0 0 16 16"
            >
              <path
                d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"
              />
            </svg>
            <div class="text-xl font-regular mb-2 font-inter">
              {{ row.minpunten }}
            </div>
          </div>
          <div class="border border-nav-text-green w-fully"></div>
        {% endfor %} 
      {% else %}
        <p>Geen minpunten aanwezig</p>
      {% endif %}
    </div>
  </div>
</section>
  <h2
      class="text-center text-nav-text-green font-bold text-4xl font-inter mb-14 mt-32"
    >
      Promo
    </h2>
    <section class="my-20 max-w-screen-xl mx-auto">
      <div class="block lg:flex items-center justify-center mx-4">
        <div class="">
          <img
            src="vue-assets/assets/bike-detail-page.png"
            class="w-100 sm:w-100p mx-auto"
            alt=""
          />
       </div>
        <!--plusteken custom heigt bijvoegen img!!!!-->
        <div class="flex flex-wrap justify-center">
          <img
            src="vue-assets/assets/plus-icon.svg"
            class="w-30 sm:w-20 w-1/3 md:w-3/3 md:w-200 my-12 md:my-16 mx-8"
            alt=""
          />
        </div>
        <!--fietspomp custom heigt bijvoegen img!!!!-->
        <div class="flex flex-wrap justify-center">
          <img
            src="vue-assets/assets/fietspomp.png"
            height=""
            class="flex flex-wrap h-200 md:h-auto justify-center"
            alt=""
          />
        </div>
        <!--gelijksaansteken-->
        <div class="flex flex-wrap justify-center">
          <img
            src="vue-assets/assets/equal.svg"
            class="w-30 sm:w-20 w-1/3 md:w-3/3 md:w-200 my-12 md:my-16"
            alt=""
          />
        </div>

        <!--Prijs-->
        <div class="relative sm:mx-auto sm:w-50p lg:ml-10">
            <h2 class="text-3xl lg:text-6xl text-unieke-services-green decoration-stone-500 line-through relative z-10 font-inter">
              €1716,99
            </h2>
            <div class="absolute top-1/2 right-4 transform -translate-y-1/2 bg-unieke-services-green text-second-green rounded-full h-10 w-10 md:h-12 md:w-12 md:h-12 md:w-12 flex items-center justify-center font-sofia text-primary-white z-20">
              <p class="text-sm">-5%</p>
            </div>
            <h2 class="text-3xl lg:text-6xl text-nav-text-green ml-12 font-inter">
              €1631,99
            </h2>
          </div>

      </div>
    </section>
    {% else %}
    <p>Bike not found.</p>
    {% endif %}
    <h2
      class="text-center text-nav-text-green font-bold text-4xl font-inter mb-14 mt-32"
    >
      Nieuwe <span class="text-black">fietsen</span>
    </h2>
    <div class="max-w-screen-xl mx-auto lg:px-0 px-6 mt-10">
      <div
        class="grid lg:grid-cols-12 md:grid-cols-12 grid-cols-12-2 gap-4 justify-items-center"
      >
    {% set bikes = craft.products.type('Bike').all %} 
    {% if bikes|length %} {# Loop through each
        bike entry #} {% for bike in bikes %} {% set value =
        bike.productPrice|money %} {% set image = bike.productImage.one() %}
        <div
          class="md:col-span-6 lg:col-span-4 col-span-8 mx-auto sm:mb-4 mb-4 cursor-pointer"
        >
          {% if image %}
          <a
            href="{{ siteUrl }}/bikeDetail?id={{ bike.id }}"
          >
            <img
              src="{{ image.getUrl() }}"
              alt="{{ image.title }}"
              class="lg:w-250p md:w-250p sm:w-100p w-100p h-auto"
            />
          </a>
          {% else %}
          <p>No image available for this entry.</p>
          {% endif %}
          <h2 class="text-bike-color-dark-grey mt-3 font-semibold text-h2">
            {{ bike.title }}
          </h2>
          <h4 class="text-bike-color-dark-grey mb-3 mt-min5px">
            {% set merkCategory = bike.merk.one() %} {% if merkCategory %}
            {{ merkCategory.title }}
            {% endif %}
          </h4>
          <div class="flex mb-2">
            {# Check if bike has colors #} {# Loop through each color in the
            table field #} {#
            <span class="block h-2 w-5 bg-bike-color-grey mr-2"></span> #} {#
            Check if bike has colors #} {% if bike.productColours|length %} {%
            for row in bike.productColours %} {% if row.hexcode is not empty %}
            <span
              class="block h-2 w-5 mr-1"
              style="background-color: {{ row.hexcode }}"
            ></span>
            {% endif %} {% endfor %} {% else %}
            <p>No colors available for this bike.</p>
            {% endif %}
          </div>
          <h3 class="font-bold">{{ value }}</h3>
        </div>
        {% endfor %} {% else %}
        <p>No bike entries found.</p>
        {% endif %}
      </div>
    </div>
    <div class="flex justify-center mt-6 mb-20 lg:mb-40">
      <button
        class="bg-nav-text-green text-primary-white font-regular py-2 px-4 rounded-1px font-sofia border border-white hover:border-nav-text-green transition-colors duration-400 delay-50 hover:bg-primary-white hover:text-nav-text-green"
      >
        Bekijk ons aanbod
      </button>
    </div>

    {% include 'footer.twig' %}<a href="#top" class="fixed right-4 text-xs  bottom-4 text-white bg-fixed-nav-green p-2 rounded-full px-4 shadow-lg z-50"> Terug naar boven </a>

  </body>
</html>