<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Bikestore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <script src="{{siteUrl}}/vue-assets/js/checkout1.js"></script>
    <link rel="stylesheet" href="{{siteUrl}}/vue-assets/css/style.css">

     <link rel="icon" type="image/x-icon" href="{{siteUrl}}/vue-assets/assets/favicon.ico">
</head>

<body class="bg-primary-white">
{% include 'upper-navbar.twig' %}
{% include 'navbar.twig' %}
{% set cart = craft.commerce.carts.cart %}
<div class="max-w-screen-xl relative lg:px-30 md:pt-10 md:pb-10 md:px-20 lg:pb-5 lg:pt-5 mx-auto mt-7">
  <div class="relative lg:px-30 md:pt-10 md:pb-10 md:px-20 lg:pb-5 lg:pt-5">
    <div class="flex justify-between mb-2">
    <img src="vue-assets/assets/cart-shopping-checkout.svg" class="h-6 w-6" alt="cart">
    <img src="vue-assets/assets/account-checkout-dark.svg" class="h-6 w-6" alt="check">
    <img src="vue-assets/assets/card-checkout.svg" class="h-6 w-6" alt="card">
    <img src="vue-assets/assets/check-checkout.svg" class="h-6 w-6" alt="checkk">
</div>

    <div class="bg-unieke-services-green h-2 relative w-full">
    <div class="bg-nav-text-green h-2 absolute top-0 left-0" style="width: 33.7%;"></div>
  </div>



  <div class="max-w-screen-xl md:mx-auto px-10 py-10 bg-primary-white mt-20">
    <div class="bg-primary-white py-20 lg:py-0 flex justify-center flex-wrap">
        <h2 class="text-2xl mb-8 font-semibold font-sofia">Een proefrit bij jou thuis of op het bedrijf is volledig gratis en uiteraard vrijblijvend.</h2>
        <form method="post">
            {{ csrfInput() }} 
            {{ actionInput('commerce/cart/update-cart') }}
            {{ redirectInput(siteUrl ~ '/checkoutstap3') }}
            <label>
                Email
                    {{ input('email', 'fields[email]', cart.email, { 'class': 'bg-transparent border-2 border-nav-text-green text-nav-text-green rounded-1 pb-1 pl-1 inputfields w-full h-10 mb-5','placeholder': 'jan.jansens@gmail.be' }) }}
            </label>
            <label>
                Naam
                {{ input('text', 'fields[naam]', cart.naam, { 'class': 'bg-transparent border-2 border-nav-text-green text-nav-text-green rounded-1 pb-1 pl-1 inputfields w-full h-10 mb-5','placeholder': 'Jan Jansens' }) }}
            </label>
            <label>
                Stad
                {{ input('text', 'fields[stad]', cart.stad, { 'class': 'bg-transparent border-2 border-nav-text-green text-nav-text-green rounded-1 pb-1 pl-1 inputfields w-full h-10 mb-5','placeholder': 'Kortrijk' }) }}
            </label>
            <label>
                Provincie
                {{ input('text', 'fields[provincie]', cart.provincie, { 'class': 'bg-transparent border-2 border-nav-text-green text-nav-text-green rounded-1 pb-1 pl-1 inputfields w-full h-10 mb-5' ,'placeholder': 'Oost-vlaanderen' }) }}
            </label>
            <label>
                Straat
                {{ input('text', 'fields[straat]', cart.straat, { 'class': 'bg-transparent border-2 border-nav-text-green text-nav-text-green rounded-1 pb-1 pl-1 inputfields w-full h-10 mb-5','placeholder': '' }) }}
            </label>
            <label>
                Postcode
                {{ input('number', 'fields[postcode]', cart.postcode, { 'class': 'bg-transparent border-2 border-nav-text-green text-nav-text-green rounded-1 pb-1 pl-1 inputfields w-full h-10 mb-5','placeholder': '' }) }}
            </label>
            <label>
                Huisnummer
                {{ input('number', 'fields[huisnummer]', cart.huisnummer, { 'class': 'bg-transparent border-2 border-nav-text-green text-nav-text-green rounded-1 pb-1 pl-1 inputfields w-full h-10 mb-5','placeholder': '' }) }}
            </label>
            <label for="country">Land
            <select id="country" name="fields[land]" class="bg-transparent border-2 border-nav-text-green text-nav-text-green rounded-1 pb-1 pl-1 inputfields w-full h-10 mb-5">
                <option value="belgie" {% if cart.land == 'belgie' %}selected{% endif %}>België</option>
                <option value="nederland" {% if cart.land == 'nederland' %}selected{% endif %}>Nederland</option>
            </select>
            </label>
            <label>
                Telefoonnummer
                {{ input('number', 'fields[telefoonnummer]', cart.telefoonnummer, { 'class': 'bg-transparent border-2 border-nav-text-green text-nav-text-green rounded-1 pb-1 pl-1 inputfields w-full h-10 mb-5','placeholder': '+32 ******** ' }) }}
            </label>
        <div class="flex justify-between">
            <button class="bg-nav-text-green text-primary-white font-regular py-2 px-4 rounded-1px font-inter border border-white transition-colors duration-400 delay-50 hover:bg-unieke-services-green flex items-center">
                <img src="vue-assets/assets/backpijl.svg" alt="whitepijl" class="mr-2 h-5">
                Verder winkelen
            </button>
            <div class="flex tw-justify-between bg-nav-text-green text-primary-white font-regular py-2 px-4 rounded-1px font-inter border border-white transition-colors duration-400 delay-50 hover:bg-unieke-services-green flex items-center">
                <input type="submit" value="Volgende" class="bg-transparent">
                <img src="vue-assets/assets/whitepijl.svg" alt="whitepijl" class="ml-2 h-5">
            </div>         
        </div> 
        </form>
    </div> 
  </div>
</div>
</div>
{% include 'footer.twig' %}
</body>
<style>
</style>