<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    {# {% set entry = craft.entries.section('proefritAanvragen').slug('proefrit-aanvragen').one() %}
    <title>{{ entry.title }}</title>
    <meta name="description" content="{{ entry.description }}">
    <meta property="og:title" content="{{ entry.title }}">
    <meta property="og:description" content="{{ entry.description }}">
    <meta property="og:url" content="{{ entry.urlAanbod }}">       #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <script src="{{siteUrl}}/vue-assets/js/checkout1.js"></script>

    <link rel="stylesheet" href="{{siteUrl}}/vue-assets/css/style.css">
        <link rel="icon" type="image/x-icon" href="{{siteUrl}}/vue-assets/assets/favicon.ico">

    {#  <link rel="stylesheet" href="http://localhost/2023-2024-atelier4-bs-groep4/bikestore/web/vue-assets/css/style.css">
 #}
</head>

<body class="bg-primary-white"><div id="top"></div>


{% include 'upper-navbar.twig' %}

{% include 'navbar-hero.twig' %}


 <div class="lg:h-824 sm:h-476 flex lg:relative bg-nav-text-green lg:bg-white z-0">
      <div class="hidden lg:block lg:w-2/5 bg-primary-white flex justify-center items-center">
       <img src="vue-assets/assets/fietsProefrit.svg" alt="old bike" class="mr-12 absolute top-1/2 w-1/2 sm:w-1/2 md:w-1/3 transform -translate-x-1/4 -translate-y-1/2 ">
      </div>

    <div class="w-full lg:w-3/5 bg-nav-text-green flex justify-center">
      <div class="flex w-full lg:w-4/5 justify-end items-center md:h-full md:py-0 py-10">
        <div class="flex flex-col text-left text-primary-white px-6">

        <p class="font-black font-sofia text-3xl md:text-5xl xl:text-7xl font-sofia mb-8">E-bike proefrit aan huis</p>
        
          <p class="text-md md:text-xl">
             Bij een Bikestore proefrit sturen we jou niet zomaar de straat op.
            Neen, wij rijden met jou mee...
            Tijdens de rit geven we jou al wat tips mee en jij kan ons ondertussen vertellen hoe je de fiets ervaart.
          </p>  
        </div>
      </div>
    </div>
  </div>

  <div class="max-w-screen-xl md:mx-auto px-6 py-10 bg-primary-white lg:mt-10">
    <div class="bg-primary-white lg:py-0">
    <h2 class="text-2xl mb-8 font-semibold font-sofia">Een proefrit bij jou thuis of op het bedrijf is volledig gratis en uiteraard vrijblijvend.</h2>

    <form class="grid grid-cols-1 sm:grid-cols-2 gap-x-4 gap-y-8 lg:w-4/5 font-inter" id="myForm">
        <div>
            <input id="voornaam" class="bg-transparent border-2 border-nav-text-green text-nav-text-green rounded-1 pb-1 inputfields w-full h-10" placeholder="Voornaam" />
            <span id="voornaamError" class="text-red-500 text-sm hidden">Voornaam is verplicht</span>
        </div>
        <div>
            <input id="straatNaam" class="bg-transparent border-2 border-nav-text-green text-nav-text-green rounded-1 pb-1 inputfields w-full h-10" placeholder="Straatnaam" />
            <span id="straatNaamError" class="text-red-500 text-sm hidden">Straatnaam is verplicht</span>
        </div>

        <div>
            <input id="achternaam" class="bg-transparent border-2 border-nav-text-green text-nav-text-green rounded-1 pb-1 inputfields w-full h-10 " placeholder="Achternaam" />
            <span id="achternaamError" class="text-red-500 text-sm hidden">Achternaam is verplicht</span>
        </div>
        <div>
            <input id="nummer" class="bg-transparent border-2 border-nav-text-green text-nav-text-green rounded-1 pb-1 inputfields w-full h-10" placeholder="Nummer" />
            <span id="nummerError" class="text-red-500 text-sm hidden ">Nummer is verplicht</span>
        </div>

        <div>
            <input id="postcode" class="bg-transparent border-2 border-nav-text-green text-nav-text-green rounded-1 pb-1 inputfields w-full h-10 " placeholder="Postcode" />
            <span id="postcodeError" class="text-red-500 text-sm hidden ">Postcode is verplicht</span>
        </div>
        <div>
            <input id="telefoonnummer" class="bg-transparent border-2 border-nav-text-green text-nav-text-green rounded-1 pb-1 inputfields w-full h-10 " placeholder="Telefoonnummer" />
            <span id="telefoonnummerError" class="text-red-500 text-sm hidden">Telefoonnummer is verplicht</span>
        </div>

        <div>
            <input id="plaatsnaam" class="bg-transparent border-2 border-nav-text-green text-nav-text-green rounded-1 pb-1 inputfields w-full h-10 " placeholder="Plaatsnaam" />
            <span id="plaatsnaamError" class="text-red-500 text-sm hidden">Plaats is verplicht</span>
        </div>
        <div>
            <input id="email" class="bg-transparent border-2 border-nav-text-green text-nav-text-green rounded-1 pb-1 inputfields w-full h-10 " placeholder="E-mailadres" />
            <span id="emailError" class="text-red-500 text-sm hidden">Email is verplicht</span>
        </div>

        <div class="col-span-2">
            <select class="block w-full h-12 bg-primary-white border-nav-text-green border-2 text-nav-text-green leading-tight focus:outline-none focus:bg-white focus:border-gray-500 dropdowninput">
                <option selected disabled>Met welk model maakt u graag een proefrit</option>
                <option>Stokvis E-Transporter N3 RB 360 Wh</option>
                <option>Fongers E-Transporter N3 360 Wh</option>
                <option>Bontrager Velocis Mips racehelm</option>
                <option>Bontrager Comp multitool</option>
            </select>
        </div>

        <div class="col-span-2">
            <input type="date" id="date" class="bg-transparent border-2 border-nav-text-green text-nav-text-green rounded-1 pb-1 w-full h-12 dropdowninput">
            <span id="dateError" class="text-red-500 text-sm hidden">Een datum kiezen is verplicht</span>
        </div>

        <div class="col-span-2">
            <input type="checkbox" id="agree1" name="agree1" class="bg-transparent border-2 border-nav-text-green rounded-1 pb-1 footer-form w-6 h-6 mr-2" />
            <label for="agree1">Ik ontvang graag de nieuwsbrief</label>
        </div>
        <div class="col-span-2">
            <input type="checkbox" id="agree2" name="agree2" class="bg-transparent border-2 border-nav-text-green rounded-1 pb-1 footer-form w-6 h-6 mr-2" />
            <label for="agree2">Ik ga akkoord met het privacy statement</label>
        </div>

        <div class="col-span-2">
            <button type="submit" id="submitButton" class="bg-nav-text-green text-primary-white font-regular py-2 px-4 rounded-1px font-sofia border-2 border-nav-text-green transition-colors duration-400 delay-50 hover:bg-primary-white hover:text-nav-text-green">
                Proefrit aanvragen
            </button>
        </div>
    </form>
</div>

</div>


{% include 'footer.twig' %}<a href="#top" class="fixed right-4 text-xs  bottom-4 text-white bg-fixed-nav-green p-2 rounded-full px-4 shadow-lg z-50"> Terug naar boven </a>

</body>

<script>

    const form = document.getElementById('myForm');
    const submitButton = document.getElementById('submitButton');

    submitButton.addEventListener('click', function(event) {
        event.preventDefault();
        
        if (validateForm()) {
            form.submit();
        } else {
        }
    });

    function validateForm() {
        let isValid = true;

        const voornaam = document.getElementById('voornaam').value.trim();
        const voornaamError = document.getElementById('voornaamError');
        const straatNaam = document.getElementById('straatNaam').value.trim();
        const straatNaamError = document.getElementById('straatNaamError');
        const achternaam = document.getElementById('achternaam').value.trim();
        const achternaamError = document.getElementById('achternaamError');
        const nummer = document.getElementById('nummer').value.trim();
        const nummerError = document.getElementById('nummerError');
        const postcode = document.getElementById('postcode').value.trim();
        const postcodeError = document.getElementById('postcodeError');
        const telefoonnummer = document.getElementById('telefoonnummer').value.trim();
        const telefoonnummerError = document.getElementById('telefoonnummerError');
        const plaatsnaam = document.getElementById('plaatsnaam').value.trim();
        const plaatsnaamError = document.getElementById('plaatsnaamError');
        const email = document.getElementById('email').value.trim();
        const emailError = document.getElementById('emailError');
        const datum = document.getElementById('date').value.trim();
        const datumError = document.getElementById('dateError');

        if (voornaam === '') {
            voornaamError.classList.remove('hidden');
            isValid = false;
        } else {
            voornaamError.classList.add('hidden');
        }

        if (achternaam === '') {
            achternaamError.classList.remove('hidden');
            isValid = false;
        } else {
            achternaamError.classList.add('hidden');
        }

         if (straatNaam === '') {
            straatNaamError.classList.remove('hidden');
            isValid = false;
        } else {
            straatNaamError.classList.add('hidden');
        }

         if (nummer === '') {
            nummerError.classList.remove('hidden');
            isValid = false;
        } else {
            nummerError.classList.add('hidden');
        }

         if (postcode === '') {
            postcodeError.classList.remove('hidden');
            isValid = false;
        } else {
            postcodeError.classList.add('hidden');
        }

         if (telefoonnummer === '') {
            telefoonnummerError.classList.remove('hidden');
            isValid = false;
        } else {
            telefoonnummerError.classList.add('hidden');
        }
        
         if (plaatsnaam === '') {
            plaatsnaamError.classList.remove('hidden');
            isValid = false;
        } else {
            plaatsnaamError.classList.add('hidden');
        }

         if (email === '') {
            emailError.classList.remove('hidden');
            isValid = false;
        } else {
            emailError.classList.add('hidden');
        }
        
         if (datum === '') {
            datumError.classList.remove('hidden');
            isValid = false;
        } else {
            datumError.classList.add('hidden');
        }


        


        return isValid;
    }
</script>






</script>




<style>
    input[type='checkbox'] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 20px;
        height: 20px;
        background: transparent;
        border: 2px solid #36493D;
        border-radius: 1px;
        position: relative;
      }
  
      input[type='checkbox']:checked::before {
        content: '';
        position: absolute;
        width: 5px;
        height: 10px;
        border: solid #36493D;
        border-width: 0 2px 2px 0;
        top: 2px;
        left: 7px;
        transform: rotate(45deg);
      }
     .dropdowninput {
  font-weight: bold;
  color: #557260;
  padding: 0.75rem; 
  font-size: 0.85rem;
}
  </style>
